@import 'npm:normalize.css';

body {
    font-family: 'Inter', sans-serif;
    background-color: #e2e8f0;
    margin: 2.65rem 3rem 5rem;
    max-width: 768px;
    margin: 2.5rem auto 4rem auto;
}
a {
    text-decoration: none;
}
input, select, textarea {
    border: 0;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
input:disabled, select:disabled, textarea:disabled {
    background-color: #f4f4f4;
    cursor: auto;
}
textarea {
    resize: none;
    box-sizing: border-box;
    width: 100%;
}
header {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
}
header h1 {
    font-size: 2.75rem;
    position: relative;
    margin-top: 2.25rem;
}
select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15.1px) calc(1em + 2px);
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;
}
select:focus {
    outline: 0;
}
main {
    text-align: center;
}
[x-cloak] {
    display: none;
}

#input-group > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#input-group > div:not(:last-of-type) {
    margin-bottom: 1.25rem;
}
#input-group > div:first-of-type > div {
    display: flex;
    width: 100%;
}
#input-group > div:first-of-type > div > button {
    margin-left: .6rem;
    padding: .75rem 1rem;
    border: 0;
    border-radius: .25rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    background-color: #bde2fd;
    cursor: pointer;
}
#input-group label {
    margin-bottom: .75rem;
    font-weight: 500;
}
#input-group #network {
    width: 16rem;
}
#input-group #derivpath {
    width: 20rem;
}
#input-group #custom-derivpath {
    width: 16rem;
    text-align: center;
    margin-top: 0.75rem;
}
#result {
    margin: 2.5rem 0;
    padding: 1.75rem 2.5rem;
    background-color: #f0f6fd;
    border-radius: .25rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    word-wrap: break-word;
    line-height: 1.4;
}
#result > div:not(:last-of-type) {
    margin-bottom: 1.25rem;
}
#result > div > div:first-of-type {
    margin-bottom: .5rem;
    font-weight: 500;
}
#result .bch-address-type {
    margin-left: .5rem;
    color: #bebebe;
}
#error-box {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #ffb8b8;
    color: #311f1f;
    margin: 1.6rem 1.8rem;
    padding: 1rem 1.25rem;
    border-radius: .25rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
    max-width: 500px;
}

@media (max-width: 900px) {
    main {
        margin: 0 2rem;
    }
}
