$base-font: "Inter", sans-serif;

$bg-body: #e2e8f0;
$bg-card: #f0f6fd;
$bg-button: #bde2fd;
$bg-input: #fff;
$bg-input-disabled: #f4f4f4;
$fg-body: #10131b;

$base-radius: .25rem;
$base-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);

$mobile-breakpoint: 640px;
