@use "abstracts";

header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  h2 {
    position: relative;
    font-size: 2.75rem;
    margin: {
      top: 2.25rem;
      bottom: 1.75rem;
    }
  }
}

main {
  text-align: center;
  margin: 0 2rem;
}

.settings {
  display: block;

  > .settings-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &:not(:last-of-type) {
      margin-bottom: 1.25rem;
    }
  }
}

.settings > .settings-row {
  &.mnemonic {
    .input-group {
      display: flex;
      width: 100%;
    }

    button {
      margin-left: 0.6rem;
      padding: 0.75rem 1rem;
      border: 0;
      border-radius: abstracts.$base-radius;
      box-shadow: abstracts.$base-shadow;
      background-color: abstracts.$bg-button;
      cursor: pointer;
    }

    @media (max-width: abstracts.$mobile-breakpoint) {
      .input-group {
        flex-direction: column;
      }

      textarea {
        height: 6rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        outline: none;
      }

      button {
        margin-left: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  &.seed {
    @media (max-width: abstracts.$mobile-breakpoint) {
      textarea {
        height: 6rem;
      }
    }
  }

  &.network {
    select {
      width: 20rem;
    }
  }

  &.derivation-path {
    select {
      width: 18rem;
    }
    
    input { // custom derivation path
      width: 18rem;
      text-align: center;
      margin-top: 0.75rem;
    }
  }

  @media (max-width: abstracts.$mobile-breakpoint) {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
}

.result {
  margin: 2.5rem 0;
  padding: 1.75rem 2.5rem;
  background-color: abstracts.$bg-card;
  border-radius: abstracts.$base-radius;
  box-shadow: abstracts.$base-shadow;
  word-wrap: break-word;
  line-height: 1.4;

  @media (max-width: abstracts.$mobile-breakpoint) {
    margin-left: -2rem;
    margin-right: -2rem;
    border-radius: 0;
    box-shadow: none;
  }

  > .result-row {
    &:not(:last-of-type) {
      margin-bottom: 1.25rem;
    }

    h5 {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
  }

  .bch-address > span:nth-of-type(2n) {
    color: #afabab;
  }
}
